* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fef2e8;
}

a {
   text-decoration: none;
}

.header {
  height: 96px;
  width: 100%;
  background-color: white;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 28px 32px 0;
}

.header_left_logo {
  display: flex;
}

.header_left_logo {
  cursor: default;
}

.header_right_logo {
  display: flex;
}

.header_right_logo:hover .header_right_logo_text {
   color: #ff7733;
   transition: 0.3s;
 }

.header_right_logo_text {
  color: #023a6b;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  font-family: "Open Sans", sans-serif;
  padding-top: 6%;
  padding-left: 6%;
  transition: 0.3s;
}

.main_container {
  width: 1140px;
  margin: 0 auto;
}

.main_text {
  font-family: "Eczar", serif;
  color: #023a6b;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  padding: 50px 400px 0 0;
}

.main_text_orange {
  color: #ff7733;
}

.main_coffee_item_title {
  font-weight: 700;
  font-family: "Eczar", serif;
  color: #023a6b;
  font-size: 32px;
  line-height: 38.4px;
  padding-top: 24px;
}

.main_coffee_item_price {
  background-color: #ff7733;
  border-radius: 16px;
  color: white;
  padding: 0 7px;
  font-size: 16px;
  line-height: 19.2px;
  margin-left: 8px;
}

.main_coffee_item_additionals_size {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #023a6b;
  line-height: 16.8px;
}

.main_coffee_item_footer_button {
  border: 2px solid #ffbd5c;
  border-radius: 64px;
  padding: 16px 24px 16px 24px;
  background-color: rgba(0, 0, 0, 0);
  color: #023a6b;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-right: 16px;
  margin-top: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.main_coffee_item_footer_button:hover {
  background-color: #ffbd5c;
  transition: 0.5s;
}

.main_coffee_item_footer_info {
  width: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.main_coffee_item_footer_info:hover {
  width: 23px;
  transition: 0.5s;
}

.main_coffee {
  display: flex;
  gap: 48px;
  justify-content: space-around;
  margin: 64px 0 76px 0;
}

.main_coffee_item_additionals_sugar {
  margin-top: 16px;
}

.checkbox-mark {
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 8px;
  background-color: #fff;
  left: 0;
  top: 0;
  transition: 1s;
}

.label_container {
   padding: 4px 0 0 34px;
   display: block;
   position: relative;
   margin-bottom: 5px;
   cursor: pointer;
   user-select: none;
}
 
.label_container input {
   display: none;
}

.label_container input:checked ~ .checkbox-mark {
  background-color: orange;
}

.checkbox-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.label_container input:checked ~ .checkbox-mark:after {
  display: block;
}

.label_container .checkbox-mark:after {
  left: 6px;
  top: 6px;
  width: 6px;
  height: 6px;
  border: solid white;
  background-color: white;
  border-radius: 50%;
}

.label {
  margin-right: 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #023a6b;
}

.main_coffee_item_additionals_size {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.main_coffee_item_additionals_size input[type="radio"] {
  display: grid;
  place-content: center;
  width: 24px;
  height: 24px;
  appearance: none;
  background-color: #fff;
  color: orange;
  border: 3px solid #fff;
  border-radius: 24px;
}

input[type="radio"]::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em orange;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.spin-logo{
  position: absolute;
  bottom: 36%;
  left: 30%;
  animation: 10s linear 0s normal none infinite running spin-logo;
}

@keyframes spin-logo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}



.cart1{
  display: block;
}

.cart2{
  display: none;
}

.order-count{
  display: none;
  position: absolute;
  top: 5%;
  font-size: 20px;
  font-weight: 900;
  line-height: 100%;
  color: #FFFFFF;
}

.header_right_logo_container{
  display: flex;
  justify-content: center;
}